@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --clr-primary: #DB3022;
  --text-primary: #222222;
  --clr-my-gray: #9B9B9B;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-clr-primary: var(--clr-primary);
  --color-text-primary: var(--text-primary);
  --color-clr-my-gray: var(--clr-my-gray); 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
